<form action="" class="forms form" (submit)="RegisterSeller($event,validatePassword)">
    <div class="container">
        <div class="side-left">
            <div class="h user">
                <input type="text" class="input" id="organizationname" required [(ngModel)]="sellerForm.organizationname"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="organizationname"> ORGANIZATION NAME</label>
            </div>
            <div class="h mail">
                <input type="text" class="input"  required id="email" [(ngModel)]="sellerForm.email"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="email"> ORGANIZATION EMAIL</label>
            </div>
            <div class="h user">
                <input type="text" class="input" id="organizationaddress" required [(ngModel)]="sellerForm.organizationaddress"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="organizationaddress"> ORGANIZATION ADDRESS</label>
            </div>
            <div class="h mail">
                <input type="text" class="input"  required id="organizationphonenumbe" [(ngModel)]="sellerForm.organizationphonenumbe"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="organizationphonenumbe"> ORGANIZATION PH-NO</label>
            </div>
            <div class="h user">
                <input type="text" class="input" minlength="8" id="leadername" required [(ngModel)]="sellerForm.leadername"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="leadername"> LEADER NAME</label>
            </div>
        </div>
        <div class="side-right">
            <div class="h user">
                <input type="text" class="input" minlength="8" id="leaderaddress" required [(ngModel)]="sellerForm.leaderaddress"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="leaderaddress"> LEADER ADDRESS</label>
            </div>
            <div class="h user">
                <input type="text" class="input" id="leaderphone" required [(ngModel)]="sellerForm.leaderphone"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="leaderphone"> LEADER PHONE NUMBER</label>
            </div>
            <div class="h user">
                <input type="text" class="input" id="leaderemail" required [(ngModel)]="sellerForm.leaderemail"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="leaderemail"> LEADER EMAIL</label>
            </div>
            <div class="h mail">
                <input type="text" class="input"  required id="organizationpassword" #validatePassword [(ngModel)]="sellerForm.organizationpassword"  [ngModelOptions]="{standalone: true}">
                <label class="label" for="organizationpassword"> PASSWORD</label>
            </div>
            <div class="h mail">
                <input type="text" class="input"  required id="conformorganizationpassword" #validatePassword >
                <label class="label" for="conformorganizationpassword"> CONFORM PASSWORD</label>
            </div>
        </div>
    </div>
    <div class="bottom-details">
        <div class="btn">
            <button type="submit">Submit</button>
            <!-- <button type="button">Close</button> -->
        </div>
        <div class="forgotPassword">
            <a href="/Login/Seller">Already have an account, <span>Login?</span></a>
        </div>
    </div>
</form>