<form action="" class="forms form">
    <div class="h user">
        <input type="text" class="input" minlength="8" id="username" required>
        <label class="label" for="username"><i class="fa-solid fa-user"></i> USER NAME</label>
    </div>
    <div class="h mail">
        <input type="email" class="input"  required id="email">
        <label class="label" for="email"><i class="fa-solid fa-envelope"></i> EMAIL</label>
    </div>
    <div class="h user">
        <input type="text" class="input" minlength="8" id="username" required>
        <label class="label" for="username"><i class="fa-solid fa-user"></i> USER NAME</label>
    </div>
    <div class="h mail">
        <input type="email" class="input"  required id="email">
        <label class="label" for="email"><i class="fa-solid fa-envelope"></i> EMAIL</label>
    </div>
    <div class="h user">
        <input type="text" class="input" minlength="8" id="username" required>
        <label class="label" for="username"><i class="fa-solid fa-user"></i> USER NAME</label>
    </div>
    <div class="h mail">
        <input type="email" class="input"  required id="email">
        <label class="label" for="email"><i class="fa-solid fa-envelope"></i> EMAIL</label>
    </div>
    <div class="h user">
        <input type="text" class="input" minlength="8" id="username" required>
        <label class="label" for="username"><i class="fa-solid fa-user"></i> USER NAME</label>
    </div>
    <div class="h mail">
        <input type="email" class="input"  required id="email">
        <label class="label" for="email"><i class="fa-solid fa-envelope"></i> EMAIL</label>
    </div>
    <div class="h user">
        <input type="text" class="input" minlength="8" id="username" required>
        <label class="label" for="username"><i class="fa-solid fa-user"></i> USER NAME</label>
    </div>
    <div class="h mail">
        <input type="email" class="input"  required id="email">
        <label class="label" for="email"><i class="fa-solid fa-envelope"></i> EMAIL</label>
    </div>
    <div class="btn">
        <button type="submit">Submit</button>
        <!-- <button type="button">Close</button> -->
    </div>
    <div class="forgotPassword">
        <a href="/Login/Seller">Already have an account, <span>Login?</span></a>
        <a href=""><span>Forgot Password?</span></a>
    </div>
</form>