<div class="navBar">
    <a routerLink="/AMS/Home">Home</a>
    <a routerLink="/AMS/Home">AgriTech Essensials</a>
    <a routerLink="/AMS/FarmLands">FarmLands</a>
    <a routerLink="/AMS/FeildToTable">FeildToTable</a>
    <a routerLink="/AMS/Home">Reviews</a>
    <a routerLink="/AMS/SellMyProduct">SellMyProduct</a>
    <a routerLink="/AMS/SellMyLand">SellMyLand</a>
    <a routerLink="/AMS/OrderTracking">Orders Tracking</a>
    <a routerLink="/AMS/LoginRequests">LoginRequests</a>
    <a routerLink="/AMS/Profile">Profile</a>
</div>
