<form action="" class="forms form" (submit)="LoginFun()">
    <div class="h user">
        <input type="text" class="input" id="useremail" required [(ngModel)]="loginModel.username"  [ngModelOptions]="{standalone: true}">
        <label class="label" for="useremail"><i class="fa-solid fa-user"></i> USER EMAIL</label>
    </div>
    <div class="h pass">
        <input type="text" class="input"  required id="Password" [(ngModel)]="loginModel.password"  [ngModelOptions]="{standalone: true}">
        <label class="label" for="Password"><i class="fa-solid fa-envelope"></i> PASSWORD</label>
    </div>
    <div class="btn">
        <button type="submit">Submit</button>
    </div>
    <div class="forgotPassword">
        <a href="/Register/Seller">Don't have an account, <span>Register?</span></a>
        <a href=""><span>Forgot Password?</span></a>
    </div>
</form>