<form action="" class="forms form">
    <div class="h user">
        <input type="text" class="input" minlength="8" id="username" required>
        <label class="label" for="username"><i class="fa-solid fa-user"></i> USER NAME</label>
    </div>
    <div class="h pass">
        <input type="text" class="input"  required id="Password">
        <label class="label" for="Password"><i class="fa-solid fa-envelope"></i> PASSWORD</label>
    </div>
    <div class="btn">
        <button type="button">Submit</button>
    </div>
    <div class="forgotPassword">
        <a href="/Register/Seller">Don't have an account, <span>Register?</span></a>
        <a href=""><span>Forgot Password?</span></a>
    </div>
</form>