<div class="sellmyproductsSection2">
    <h2>Your Products</h2>
    <div class="searchdiv">
        <input type="search" placeholder="Search">
        <img src="assets/Images/searchlogo.png" alt="">
    </div>
    <div class="editmyproduct editmyland">


        <div class="landdetaileach editmyLandEach" *ngFor="let data of WishListDetails">
            <img src="assets/Images/landBackground.png" alt="">
            <div class="aboudetails">
                <p>Address : {{data.land.landaddress}}</p>
                <div class="pricearea">
                    <h4>Area : {{data.land.landarea}} Sq.ft</h4>
                    <h4>Amount : {{data.land.landprice}} Cr</h4>
                </div>
                <div class="ownerdetails">
                    <p>Owner :</p>
                    <p>{{data.land.ownername}}</p>
                    <p>Ph.No.:{{data.seller.organizationphonenumber}}</p>
                </div>
                <div class="buttondiv">
                    <button type="button" class="button Moredetails">More Details</button>
                    <button type="button" class="button Moredetails" style="background-color: red;" (click)="DeleteApi(data.id)">Detele</button>
                </div>
            </div>
        </div>


    </div>
</div>
