<div class="sellmyproductsSection2">
    <h2>Your Products</h2>
    <div class="searchdiv">
        <input type="search" placeholder="Search">
        <img src="assets/Images/searchlogo.png" alt="">
    </div>
    <div class="editmyproduct editmyland">


        <div class="landdetaileach editmyLandEach">
            <img src="assets/Images/landBackground.png" alt="">
            <div class="aboudetails">
                <p>Address : 76/14 Bhararthiyar main road , S.S.Colony Madurai ,Tamilnadu,India</p>
                <div class="pricearea">
                    <h4>Area : 200000 Sq.ft</h4>
                    <h4>Amount : 1.22 Cr</h4>
                </div>
                <div class="ownerdetails">
                    <p>Owner :</p>
                    <p>S.Nagarjuna</p>
                    <p>Ph.No.:9944972187</p>
                </div>
                <div class="buttondiv">
                    <button type="button" class="button Moredetails">More Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
