<div class="cartContainer">

    <div class="cart-section">
        <h4><img src="" alt="">Continue Shopping</h4>
        <div class="CartText">
            <h4>Shopping Cart</h4>
            <h5>
                you have totally 10 items
            </h5>
        </div>


        <div class="eachItemCart">
            <img class="itemimage" src="" alt="">
            <div class="info-div">
                <h5>Onion</h5>
                <h6>
                    From : S.Nagarjuna, 76/14 Bahrathiyar main road
                </h6>
            </div>
            <select name="" id="">
                <option value="">89 Kg</option>
                <option value="">89 Kg</option>
                <option value="">89 Kg</option>
                <option value="">89 Kg</option>
            </select>
            <p class="price">87 Rs</p>
            <img src="assets/Images/deleteimage.png" alt="Delete">
        </div>
    </div>


    <div class="PaymentContainer">
        
        <h3>Card Details</h3>
        <div class="card-type">
            <h4>Card Type</h4>
            <div>
                <img src="assets/Images/MasterCard.png" alt="" class="cardimage">
                <img src="assets/Images/visaCard.png" alt="" class="cardimage">
                <img src="assets/Images/RuPayCard.png" alt="" class="cardimage">
            </div>
        </div>

        <div class="card-info">
            <input type="text" placeholder="Name of the Card">
            <input type="text" placeholder="Card Number">
            <div>
                <input type="text" placeholder="Expiry ate mm/dd">
                <input type="text" placeholder="CVV">
            </div>
        </div>

        <div class="amount-info">
            <div class="each-amount">
                <p>Sub Total</p>
                <p>1234 Rs</p>
            </div>
            <div class="each-amount">
                <p>Shipping</p>
                <p>46 Rs</p>
            </div>
            <div class="each-amount">
                <p>Total (Tax incl.)</p>
                <p>1270 RS</p>
            </div>
        </div>


        <button>
            <p>Checkout</p>
            <p>1270</p>
        </button>


    </div>
</div>
