<div class="cartContainer">

    <div class="cart-section">
        <h4><img src="" alt="">Continue Shopping</h4>
        <div class="CartText">
            <h4>Shopping Cart</h4>
            <h5>
                you have totally 10 items
            </h5>
        </div>


        <div class="eachItemCart" *ngFor="let data of CartDetails">
            <img class="itemimage" [src]="data.product.productimage" alt="">
            <div class="info-div">
                <h5>{{data.product.productname}}</h5>
                <h6>
                    From :  {{data.seller.organizationname}}, {{data.seller.organizationaddress}}, {{data.seller.organizationphonenumber}}
                </h6>
            </div>
            <select name="" id="" [value]="data.quantity" #item (change)="UpdateCart(item.value,data.id,data.product.amountperKG)">
                <option value="2">2 Kg</option>
                <option value="4">4 Kg</option>
                <option value="6">6 Kg</option>
                <option value="10">10 Kg</option>
                <option value="15">15 Kg</option>
                <option value="20">20 Kg</option>
            </select>
            <p class="price">{{data.totalamount}} Rs</p>
            <img class="DeleteButtonHover" src="assets/Images/deleteimage.png" alt="Delete" (click)="DeleteApi(data.id)">
        </div>
    </div>


    <div class="PaymentContainer">
        
        <h3>Card Details</h3>
        <div class="card-type">
            <h4>Card Type</h4>
            <div>
                <img src="assets/Images/MasterCard.png" alt="" class="cardimage">
                <img src="assets/Images/visaCard.png" alt="" class="cardimage">
                <img src="assets/Images/RuPayCard.png" alt="" class="cardimage">
            </div>
        </div>

        <div class="card-info">
            <input type="text" placeholder="Name of the Card">
            <input type="text" placeholder="Card Number">
            <div>
                <input type="text" placeholder="Expiry ate mm/dd">
                <input type="text" placeholder="CVV">
            </div>
        </div>

        <div class="amount-info">
            <div class="each-amount">
                <p>Sub Total</p>
                <p>1234 Rs</p>
            </div>
            <div class="each-amount">
                <p>Shipping</p>
                <p>46 Rs</p>
            </div>
            <div class="each-amount">
                <p>Total (Tax incl.)</p>
                <p>1270 RS</p>
            </div>
        </div>


        <button (click)="AddOrder(1,'OnlineCardPayment')">
            <p>Checkout</p>
            <p>1270</p>
        </button>


    </div>
</div>
