<div class="taken-details">
    <table >
        <thead>
            <tr>
                <th>S. No</th>
                <th>Customer Name</th>
                <th>Order ID</th>
                <th>No. of Items</th>
                <th>Payment Method</th>
                <th>Payment Date</th>
                <th>Status</th>
                <th>View Full Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>S.Nagarjuna</td>
                <td>1234</td>
                <td>3</td>
                <td>Online</td>
                <td>07-04-2024</td>
                <td>Shipped</td>
                <td><img src="assets/Images/MoreDetails.png" alt=""></td>
            </tr>

            <tr>
                <td>1</td>
                <td>S.Nagarjuna</td>
                <td>1234</td>
                <td>3</td>
                <td>Online</td>
                <td>07-04-2024</td>
                <td>Shipped</td>
                <td><img src="assets/Images/MoreDetails.png" alt=""></td>
            </tr>

            <tr>
                <td>1</td>
                <td>S.Nagarjuna</td>
                <td>1234</td>
                <td>3</td>
                <td>Online</td>
                <td>07-04-2024</td>
                <td>Shipped</td>
                <td><img src="assets/Images/MoreDetails.png" alt=""></td>
            </tr>

            <tr>
                <td>1</td>
                <td>S.Nagarjuna</td>
                <td>1234</td>
                <td>3</td>
                <td>Online</td>
                <td>07-04-2024</td>
                <td>Shipped</td>
                <td><img src="assets/Images/MoreDetails.png" alt=""></td>
            </tr>

            <tr>
                <td>1</td>
                <td>S.Nagarjuna</td>
                <td>1234</td>
                <td>3</td>
                <td>Online</td>
                <td>07-04-2024</td>
                <td>Shipped</td>
                <td><img src="assets/Images/MoreDetails.png" alt=""></td>
            </tr>
            <tr>
                <td>1</td>
                <td>S.Nagarjuna</td>
                <td>1234</td>
                <td>3</td>
                <td>Online</td>
                <td>07-04-2024</td>
                <td>Shipped</td>
                <td><img src="assets/Images/MoreDetails.png" alt=""></td>
            </tr>
        </tbody>
    </table>
</div>
