<div class="taken-details">
    <table >
        <thead>
            <tr>
                <th>S. No</th>
                <th>Customer Name</th>
                <th>Order ID</th>
                <th>No. of Items</th>
                <th>Payment Method</th>
                <th>Payment Date</th>
                <th>Status</th>
                <th>View Full Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of OrderDetailsForBuyer">
                <td>{{data.id}}</td>
                <td>{{data.buyer.buyername}}</td>
                <td>{{data.id}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.paymentmethod}}</td>
                <td>{{data.paymentdate}}</td>
                <td>{{data.status}}</td>
                <td><img src="assets/Images/MoreDetails.png" alt=""></td>
            </tr>
        </tbody>
    </table>
</div>
