*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins";
}
body{
    width:98.7vw;
    width:99vw;
    height: 100vh;
    overflow-x:hidden;
}

/*Main AMS CSS*/
.AMSmain{
    width: 100%;
    height:fit-content;
    /* position: relative; */
    /* padding: 0px 0px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}  

.Backgroundimg{
    width:100%;
    height: fit-content;
    /* border: 1px solid black; */
}

/*NavBar CSS*/
/* .navBar{
    position:fixed;
    left:5%;
    background-color: rgb(228, 228, 228);
    height:80px;
    width:fit-content;
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    margin-top: 25px;
    z-index: 3;
    padding-left: 40px;
    padding-right: 40px;
} */
.navBar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(228, 228, 228);
    height: 80px;
    min-width:max-content;
    /* max-width: max-content; */
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    margin-top: 25px;
    z-index: 3;
    padding-left: 40px;
    padding-right: 40px;
    /* border: 1px solid; */
}

.navBar > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:20px;
    font-weight: 650;
    min-width: fit-content;
    /* background-color: red; */
}




/*Home page CSS*/

.HomePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: -120px;
    padding: 5px 5px;
}

.section2home{
    /* border: 1px solid blue; */
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap:15px;
}

.section2home > h3{
    font-weight: 700;
    width: 100%;
    font-size: 30px;
    /* font-size: larger; */
    /* border: 1px solid ; */
}

.section2home > p{
    width: 100%;
    /* font-size: medium; */
    font-size: larger;
    font-weight: 450;
    /* border: 1px solid ; */
}

.section2home > p::first-letter{
    padding-left: 85px;
}

.section3home{
    /* border: 1px solid ; */
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* flex-wrap: wrap; */
}
.featureheading{
    font-size:20px;
}
.featureblocks{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid; */
}

.eachblock{
    width:290px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    /* border: 1px solid gray; */
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.eachblockImg{
    width: 280px;
    height:179px;
    margin-bottom: 15px;
}

.eachblockContent{
    margin-top:6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.eachblockContent > h6{
    font-size:16px;
}
.eachblockContent > p{
    font-size: 14px;
    word-break: break-all;
    margin-top: 8px;
}
.eachblockContent > p::first-letter{
    padding-left:1px;
}

.section4Home{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    gap: 15px;
    background-color:#2C8B18;
}

.Detailsdiv{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.detailpartsHeading{
    display: flex;
    /* border: 2px solid ; */
    justify-content:flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.detailpartsHeading > img {
    margin-right:14px;
}

.parastyle > p{
    margin-bottom: 6px;
}

.section4Home > h3{
    font-size: 23px;
}

.parastyle{
    margin-bottom: 20px;
}
/*End of th Home page*/


/*CSS  For the FarmsLands*/
.Farmlands{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.frambackground{
    width: 100%;
    height: 300px;
    background-image: url(assets/Images/landBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
}

.searchdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:6px;
    padding-right: 7px;
    z-index: 0;
    /* padding:0px 10px; */
}

.searchdiv > img{
    width: 25px;
}
.searchdiv > input , .searchdiv > select{
    height: 40px;
    width:300px;
    outline: none;
    border: 0px;
    background-color: transparent;
    padding-left: 10px;
    font-size: 18px;
}

.farmlandsection2{
    width: 100%;
   
    /* border: 7px soild ; */
    display: flex;
    /* justify-content:flex-start;
    align-items:flex-start; */
    
    /* align-items: center; */
    gap: 10px;
    padding-top: 30px;
    /* height:100vh; */
    /* flex-direction: column; */
    justify-content:space-around;
    
}

.filtersection{
    background-color: #E5E2E2;
    border-radius: 10px;
    width:30%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 5px 15px;
    padding-top: 20px;
    /* min-height: 100%; */
}

.filterheading{
    display: flex;
    width: 100%;
    height: 30px;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items:flex-end;
}

.filterheading > h4{
    height:30px;
    font-size: 18px;
}

.clearAll{
    height:30px;
    width:110px;
    /* padding: 5px 5px; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 0px 6px;
    color:rgb(137, 235, 235);
}
.clearAll > img{
    width:25px;
    margin-left: 3px;
}
.filteroption{
    width: 100%;
    margin-top:45px;
    margin-bottom: 15px;
    background-color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    gap: 15px;
    border-radius: 8px;
}

.filteroption > input {
    width: 100%;
    border: none;
    outline: none;
}

.filteroption > .filtervalue{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
}

.filtervalue >h4{
    font-weight:500;
}

.filteroption > select{
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: #E5E2E2;
    padding: 8px 10px;
    border-radius: 8px;
}

.displaysection{
    width: 68%;
    /* border: 1px solid ; */
    /* height:110vh; */
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
    flex-wrap: wrap;
}

.landdetaileach{
  width:98%;
  height: 350px;
  border:1px solid black;  
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: -1px 2px 2px 2px grey ; */
  display: flex;
  justify-content:flex-start;
  /* align-items: center; */
}

.landdetaileach > img{
    width:300px;
    height:100%;
}

.aboudetails{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px 10px;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
}

.aboudetails > p{
    font-weight: 600;
    font-size: 18px;
}

.aboudetails > .pricearea{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px auto;
    justify-content:center;
    align-items: flex-start;
    gap: 10px;
    font-size: 24px;
}
.ownerdetails{
    font-size: 15px;
    width: 100%;
    /* border: 1px solid; */
}
.buttondiv{
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content:flex-start;
    gap: 10%;
    align-items: center;
}
.button{
    width:200px;
    height:40px;
    border:none;
    outline: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.wishlist{
    background-color:#005F88 ;
}
.Moredetails{
    background-color: #199716;
}

.displaysection::-webkit-scrollbar,.sidebar::-webkit-scrollbar,.dashboard_container::-webkit-scrollbar{
    width: 10px;
    height: 8px;
}
/* .table_container_section2::-webkit-scrollbar-track:horizontal{
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
} */
.displaysection::-webkit-scrollbar-thumb,.sidebar::-webkit-scrollbar-thumb,.dashboard_container::-webkit-scrollbar-thumb{
    background-color:#bdbdbdc9;
    border-radius: 40px;
    min-width: 4px;
    height:8px;
    margin-bottom: 30px;
}
/*End of the FarmsLands CSS*/



/*CSS FOR THE */
.Feildtotable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FeildtoTableBackground{
    width: 100%;
    height: 300px;
    background-image: url(assets/Images/feildtotablebackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-end;
    padding-bottom: 80px;   
}

.searchdiv{
    position: relative;
}
.searchdiv >select {
    padding-left: 40px;
}
.searchdiv > .filterimg{
    position: absolute;
    width:30px;
    left: 2px;
}

.feildtotablesection2{
    margin-top:30px;
    width: 100%;
    display: flex;
    justify-content:center;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap:16px;
    /* border: 1px solid ; */
}

.eachProduct{
    width: 350px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid ;
    border-radius: 4px;
    overflow: hidden;
    padding: 0px 0px;
    gap: 8px;
    margin-top:10px;
    margin-left:30px;
}
.productimg{
    width:350px;
    height:220px;
}

.productTitle{
    padding: 0px 10px;
    width: 100%;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    /* padding: 0px 20px; */
}

.eachProduct > h5{
    padding: 0px 10px;
    width: 100%;
    font-size: 15px;
}

.eachProduct > p{
    width: 100%;
    padding: 0px 10px;
}

.commentdiv{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid ; */
}

.commentdiv > a{
    font-size: 13px;
}

.commentdivinner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border:2px solid blue; */
}
.quantitydiv{
    display: flex;
    width: 100%;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}

.quantitydiv > select{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    background-color: #66af65;
    font-size: 15px;
    border: 2px solid rgb(0, 182, 76);
}

.quantitydiv > select > option{
    background-color: rgb(226, 226, 226);
    color: black;
}

.cartbutton{
    font-size:18px;
    background-color: #199716;
}
/*FeildToTable*/


/*CSS FOR SELL MY PRODUCTS*/
.sellmyproducts{
    width:100%;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    padding-top: 80px;
    background-color: #B6FBB5;
}

.sellmyproductsSection1{
    margin-top:50px;
    display: flex;
    width: 100%;
    /* border: 1px solid; */
    justify-content:center;
    align-items: center;
    flex-wrap: wrap-reverse;
}
/* .sellmyproductsSection1 > img{
    width: 45%;
} */
.sellmyproductsSection1 > .formdiv{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:55px 70px;
    /* padding-bottom:50px; */
    gap: 35px;
    background-color: white;
    border-radius: 10px;
}
.formdiv > h4{
    font-size: 20px;
}
.formdiv > form {
    display: flex;
    /* border: 1px solid; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:20px;
} 

.inputdiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border: 1px solid black; */
}
.inputdiv > label{
    font-size: 15px;
    font-weight:500;
}
.inputdiv >input{
    width: 500px;
    height:55px;
    border:1px solid rgb(213, 212, 212);
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 15px;
}
.inputdiv > input[type="file"]{
    display: none;
}

.inputdiv > label[for="file"]{
    font-size:20px;
    margin-top: 10px;
    color: white;
    padding:5px 15px;
    background-color: #4ad68e;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.inputdiv > label[for="file"] > img{
    width:45px;
}

.add{
    height:45px;
    width:150px;
    background-color: #199716;
}
.clear{
    height: 45px;
    background-color:red;
    width: 150px;
}
.delete,.edit{
    font-size: 16px;
    height: 35px;
    border-radius: 5px;
    width: 100px;
    background-color: #199716;
}
.delete{
    background-color: red;
}
.sellmyproductsSection2{
    margin-top: 30px;
    padding: 10px 10px;
    display: flex;
    /* border: 1px solid ; */
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap:20px;
}

.editmyproduct{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:10px;
   /* border: 1px solid; */
}

.editmyproductEach{
    margin-top: 15px;
    background-color: white;
    border: none;
}
/*END CSS*/

/*CSS FOR THE SELL MY LAND*/
.editmyLandEach{
    width:800px;
    border: 1px solid transparent;
    background-color: white;
    /* height: fit-content; */
}

.editmyLandEach > img{
    height: 100%;
    /* border: 1px solid; */
}

.editmyland{
    display: flex;
    justify-content: flex-start;
}
/*END OF CSS FOR THE SELL MY LAND*/


/*CSS for the orderTracking*/
.OrderTarcking{
    background-color:#B6FBB5;
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:40px;
    padding:15px 15px;
    padding-top: 140px;
    border: 1px solid ;
    width: 100vw;
}

.orderstrackingnavbar{
    /* border: 1px solid; */
    width: 100%;
    font-size: 28px;
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 30PX;
}

.orderstrackingnavbar > a{
    text-decoration: none;
    color: rgb(126, 122, 122);
    font-weight: 700;
    border-radius:4px;
    border-bottom: 8px solid ;
}

.orderTrackingsection2{
    width: 100%;
    height: fit-content;
}


.incomingOrder,.TakenOrder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:30px;
}

.incomingOrder .order-search {
   margin: 20px 20px 0;
}

.incomingOrder .orders {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin: 0 0 20px;
}

.order-details {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 48%;
}

.order-details .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.order-details .items a{
    text-decoration: none;
    color: blue;
    font-weight: 600;
    font-size: 16px;
}

.order-details .customer-details,
.order-details .items-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 12px;
}

.order-details .customer-details address {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    border-bottom: 5px solid grey;
    padding-bottom: 10px;
    word-spacing: 3px;
    width: 100%;
}

.order-details .items-details {
    font-size: 15px;
    margin-top: 5px;
}

.taken-details ,
.taken-details table{
    width: 100%;
    border-collapse: collapse;
}

.taken-details table tr th {
    font-size: 20px;
    color: #012c3f;
    padding: 10px 0;
}

.taken-details table tr td {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.taken-details table thead:nth-child(1) {
    background: white;
    border: none;
}

.taken-details table tbody tr {
    background-color: #023e3b;
    
}

.taken-details table tbody tr td {
    padding: 15px 0;
    color: white;
    border-bottom: 2px solid white;
}
.shiped-detail{
    width:120px;
    height: 35px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size:medium;
    font-weight:650;
}

.shiped-detail > option{
    color: black;
    font-weight:500;
    font-size:18px;
    border-radius: 0px;
    /* padding-left: 1000px; */
}
/*END of the CSS*/


/*CSS FOR THE PROFILE*/
.user-profile{
    /* border: 2px solid ; */
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color:#B6FBB5;
    min-height:100vh;
    max-height: fit-content;
    width: 100vw;
}

.user-details{
    margin-top:120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 30px;
}
.user-details > h3{
    font-size: 26px;
    color: #384D6C;
    padding-bottom: 8px;
    width: fit-content;
    border-bottom:2px solid #D0D0D0;
    margin-left: 20px;
}
.user-details .profile-contorls{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 40px;
    /* border: 1px solid; */
}
.user-details .profile-contorls .profile-image-div{
    
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:8px;
   /* background-color: #012c3f; */
}

.profile-image-div > img{
    width: 200px;
    height: 200px;
    background-color:white;
    border: 6px solid gray;
    border-radius: 50%;
}

.profile-image-div > .user_info{
    font-size:20px;
    width:250px;
}

.user-details .profile-contorls > button{
    width: 220px;
    height:60px;
    font-size:18px;
    font-weight: 700;
    /* margin-left: 40px; */
    outline: none;
    border: none;
    border-radius: 8px;
}

.eidt-but{
    background-color: #384D6C;
    color: white;
}
.update-but,.remove-but{
    color: #384D6C;
}
/* 
.profile-inputs{
    border: 1px solid;
} */

.profile-inputs > form{
    /* border: 1px solid ; */
    display: flex;
    justify-content:center;
    /* align-items:center; */
    flex-wrap: wrap;
    gap:20px;
}
.width-half{
    width: 40%;
    /* border: 1px solid; */
}
.width-half > input{
    width: 100%;
}

.width-full{
    width: 80%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid; */

}
.width-full >input{
    width:100%;
}

.width-full >label,.width-half>label{
    color: #384D6C;
    font-size: 16px;
}

.routesection-profile{
    width: 100%;
    /* border: 1px solid; */
    padding: 10px ;
}

.profile-navigation > a{
    padding: 0px 50px 0px 50px;
}


/*END OF THE CSS FOR PROFILE*/

/*Wishlist CSS*/
.profile-wishlist{
    /* border: 1px solid; */
    display: flex;
    /* align-items: center; */
    height: fit-content;
    margin-top:30px;
    width: 95%;
    justify-content: flex-end;
}
/*END WISHLIST*/

/*Cart CSS*/
.cartContainer{
    /* border: 1px solid ; */
    padding: 10px;
    height: fit-content;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* align-items:; */
    flex-wrap:wrap-reverse;
    gap:60px;
}
.cart-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid blue; */
}

.eachItemCart{
    display: flex;
    /* border: 1px solid black; */
    justify-content:flex-start;
    align-items:center;
    padding: 10px 30px 10px 10px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}
.itemimage{
    width: 80px;
    height: 80px;
    /* border: 1px solid; */
    background-color: rgb(207, 207, 207);
}
.info-div > h5{
    font-size: 17px;
}
.info-div > h6{
    font-size: 15px;
}
.eachItemCart > select{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left:30px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 700;
}
.price{
    font-size:20px;
    font-weight:700;
    margin-right: 15px;
}

img[alt="Delete"]{
    /* background-color: grey; */
    width: 30px;
    height: 30px;
}

.PaymentContainer{
    background-color: black;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:30px 30px;
    border-radius:15px;
    gap:55px;
    padding-bottom: 50px;
}

.card-type{
    width: 100%;
    /* border: 1px solid; */
}
.card-type > div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}
.card-type > div > img{
    width:120px;
    height: 70px;
    margin-right: 20px;
    margin-left: 10px;
    background-color:transparent;
    border: none;
}

.card-info{
    display: flex;
    flex-direction: column;
    width:500px;
    gap:30px;
    /* border: 1px solid ; */
}

.card-info > div{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.card-info  > input,.card-info > div > input{
    height:60px;
    border-radius:5px;
    font-size: 18px;
    padding: 10px 10px;
    width: 100%;
    background-color: transparent;
    border:1px solid rgb(128, 127, 127);
    outline: none;
}
.card-info > div > input[placeholder="CVV"]{
    width:70%;
    margin-left: 6px;
}
.amount-info{
    /* margin-top:10px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:20px;
    padding-top:50px;
    border-top: 2px solid rgb(168, 168, 168);
}

.each-amount{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
    font-weight: 700;
}

.PaymentContainer > button{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 65px;
    padding:40px 20px;
    font-size: 22px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
/*Ends of cart css*/




/*Funtionaity CSS for the  NAVBAR */
a.colorChange{
    color: #199716;
    /* font-size: 89px; */
    /* background-color: #012c3f; */
}

/*Funtionaity CSS for the  NAVBAR ENDING*/

/*Design Changes CSS*/
.searchdiv{
    width:500px;
    height:60px;
    display: flex;
    justify-content: space-between;
}
.searchdiv > input,.searchdiv > select{
    font-size: 20px;
    width: 100%;
}

button,select{
    cursor: pointer;
}
/*ENDING OF THE CSS*/



/*Validation CSS START */
.inputdiv >input:focus{
   border: 2px solid rgb(125, 214, 255);
}
.input1.ng-invalid.ng-touched , select.ng-invalid.ng-touched{
    border: 1px solid red;
}

.input1.ng-invalid.ng-touched ::placeholder{
    color: red;
}

button:active{
    background-color: #03256e;
}

input[type="date"]{
    padding-right: 20px;
}

.DeleteButtonHover{
    cursor: pointer;
}
/*Validation CSS END*/

/*Pop up CSS*/
.pop-updetails{
    width: 100%;
    background-color: transparent;
}

.popupButtons{
    margin-top: 20px;
}
/**/

/*LOGIN CSS */
.form{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.input{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 5px solid whitesmoke;
    border-bottom-style:solid;
    cursor: pointer;
    font-size:18px ;
    font-weight: 700;
    width: 100%;
    height: 35px;
    color: white;
    padding-left: 8px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.side-left,.side-right {
    width: 100%;
}


.input::placeholder{
    color:beige;
    font-weight: 100;
    font-style: oblique;
    opacity: 0;
}
.h{
    position: relative;
    width: 100%;
}
.input+.label{
    position: absolute;
    left:7px;
    bottom: 5px;
    z-index:-3;
    font-size: 18px;
    font-weight: 700;
    color: white;
    transition: all 0.3s;
}
.input:focus::placeholder{
 opacity: 1;
 
}
.form .input:focus+.label,
.form .input:valid+.label{
    transition: all 0.3s;
    transform: translateY(-35px);
    font-size: 15px; 
    letter-spacing: 3px;
    z-index: -3;  
}
.input{
    min-width:80%;
    margin-right: 10px;
    margin-top: 50px;
}

/* .forms{
   border: 1px solid linear-gradient( black , grey);
} */

.bottom-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    min-width: 100%;
    margin-top:20px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
}

.btn > button{
    width:100%;
    border: none;
    outline: none;
    font-size: 1.1em;
    font-weight: 800;
    text-transform: capitalize;
    background-color:rgb(1, 30, 73);
    color:white;
    border-radius: 6px;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all 0.2s linear;
}

.btn > button:active{
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.534);
}
.forgotPassword{
    width: 100%;
    padding: 15px 10px 10px 15px;
    display:flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid ; */
}
.forgotPassword > a{
    font-size:18px;
    word-break: break-all;
    text-decoration: none;
    color: white;
}
.forgotPassword > a > span {
    color: rgb(1, 30, 73);
    font-weight: 800;
}
/* .formRegister{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border: 1px solid;
 } */


/**/