<img src="assets/Images/BackgroundImage.png" class="Backgroundimg" alt="">
<div class="HomePage">
    <div class="section2home">
        <h3>
            Welcome to AgriConnect!
        </h3>
        <p>
            Discover your gateway to purchasing land and farm-fresh produce directly from our dedicated farmers. Enjoy the freshest vegetables and find your ideal plot, perfectly tailored to your needs. Together, let's cultivate a thriving future!
        </p>
    </div>
    <div class="section3home">
        <h5 class="featureheading">Feature</h5>
        <div class="featureblocks">
            <div class="eachblock">
                <img class="eachblockImg" src="assets/Images/vegetables.png" alt="">
                <div class="eachblockContent">
                    <h6>FeildToTable</h6>
                    <p>Buy fresh produce straight from farmers on our site. Support local agriculture and enjoy quality you can trust. Connecting growers and consumers for a healthier community.</p>
                </div>
            </div>
            <div class="eachblock">
                <img class="eachblockImg" src="assets/Images/Essentials.png" alt="">
                <div class="eachblockContent">
                    <h6>AgriTechEssentials</h6>
                    <p>Our site pioneers essential agricultural technologies. From precision farming to sustainable practices, we innovate. Empowering growers with cutting-edge tools for success.</p>
            </div>
            </div>
            <div class="eachblock">
                <img class="eachblockImg" src="assets/Images/farmland.png" alt="">
                <div class="eachblockContent">
                    <h6>FarmLand</h6>
                    <p>Discover fertile opportunities with our agricultural land listings. From expansive estates to specialized parcels, find your perfect plot. Explore our curated selection and invest in your agricultural future.</p>
                </div>
            </div>
            <div class="eachblock">
                <img class="eachblockImg" src="assets/Images/SellLand.png" alt="">
                <div class="eachblockContent">
                    <h6>SellYourLand</h6>
                    <p>On our website, registered farmers can list and sell their land directly to users. Explore available properties and connect with sellers conveniently through our platform.</p>
                </div>
            </div>
            <div class="eachblock">
                <img class="eachblockImg" src="assets/Images/SellProducts.png" alt="">
                <div class="eachblockContent">
                    <h6>SellYourProducts</h6>
                    <p>On our website, registered farmers can sell their harvested products directly to users by posting listings. Connect with local growers and explore a variety of freshly harvested goods.</p>
                </div>
            </div>
            <div class="eachblock">
                <img class="eachblockImg" src="assets/Images/OrderIncoming.png" alt="">
                <div class="eachblockContent">
                    <h6>Orders Incoming</h6>
                    <p>Our website allows registered farmers to track orders conveniently, organized by user, enabling them to accept or reject orders according to their preferences. </p>
                </div>
            </div>
            <div class="eachblock">
                <img class="eachblockImg" src="assets/Images/OrderTrack.png" alt="">
                <div class="eachblockContent">
                    <h6>Orders Tracking</h6>
                    <p>Registered farmers on our website can track accepted orders from placement to delivery, ensuring seamless fulfillment of customer requests.</p>
                </div>
            </div>
            <div class="eachblock">
                <img class="eachblockImg" src="assets/Images/Security.png" alt="">
                <div class="eachblockContent">
                    <h6>Login Request's</h6>
                    <p>In our site, only the admin accepts farmers' login requests after verifying their credentials, ensuring authorized access for registered farmers.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section4Home">
        <h3>Get In Touch</h3>
        <div class="Detailsdiv">
            <div class="parastyle">
                <div class="detailpartsHeading"> 
                    <img src="assets/Images/address.png" alt="">
                    <p>Address</p>
                </div>
                <p>76/14 Bharathiyar main road , S.S>Colony , Madurai-16</p>
                <p>76/14 Bharathiyar main road , S.S>Colony , Madurai-16</p>
                <p>76/14 Bharathiyar main road , S.S>Colony , Madurai-16</p>
            </div>
            <div class="parastyle">
                <div class="detailpartsHeading">
                    <img src="assets/Images/telephone.png" alt="">
                    <p>Phone Number</p>
                </div>
                <p>9944972187 (Admin of the site)</p>
                <p>9944972187 (Admin of the site)</p>
                <p>9944972187 (Admin of the site)</p>
            </div>
            <div class="parastyle">
                <div class="detailpartsHeading">
                    <img src="assets/Images/mail.png" alt="">
                    <p>Emails</p>
                </div>
                <p>nagarjuna8102004@gmail.com</p>
                <p>nagarjuna8102004@gmail.com</p>
                <p>nagarjuna8102004@gmail.com</p>
            </div>
        </div>
    </div>


</div>



