<app-sell-my-land-pop-up *ngIf="PopupObj.PopUpShown" [PopUpData]="POPUPData"></app-sell-my-land-pop-up>
<div class="sellmyproducts">
    <div class="sellmyproductsSection1">
        <div class="formdiv">
            <h4>Sell Your Land</h4>
            <form action="" [formGroup]="LandForm" (submit)="SubmitForm()">
                <div class="inputdiv">
                    <label for="LandArea">Land Area</label>
                    <input type="text" id="LandArea" class="input1" placeholder="Enter Area in Sq.ft" formControlName="landarea">
                </div>
                <div class="inputdiv">
                    <label for="LandPrice">Land Price</label>
                    <input type="text" id="LandPrice" class="input1" placeholder="Enter Amount in Lakhs" formControlName="landprice">
                </div>
                <div class="inputdiv">
                    <label for="LandAddress">Land Address</label>
                    <input type="text" id="LandAddress" class="input1" placeholder="Enter Address of the Land" formControlName="landaddress">
                </div>
                <div class="inputdiv">
                    <label for="LandOwnerName">Land Owner Name</label>
                    <input type="text" id="LandOwnerName" class="input1" placeholder="Enter Owner Name" formControlName="ownername">
                </div>
                <div class="inputdiv fileinput">
                    <label for="file">Upload Land Photos<img src="assets/Images/fileuploadwhite.png" alt=""></label>
                    <input type="file" id="file" (change)="FileChange($event)">
                </div>
                <div class="buttondiv">
                    <button class="button add" type="submit">Add</button>
                    <button class="button clear" type="button" (click)="Clear()">Clear</button>
                </div>
            </form>
        </div>
    </div>
    <div class="sellmyproductsSection2">
        <h2>Your Products</h2>
        <div class="searchdiv">
            <input type="search" placeholder="Search">
            <img src="assets/Images/searchlogo.png" alt="">
        </div>
        <div class="editmyproduct editmyland">


            <div class="landdetaileach editmyLandEach" *ngFor="let data of LandDetails">
                <img [src]="data.landphoto1" alt="">
                <div class="aboudetails">
                    <p>Address : {{data.landaddress}}</p>
                    <div class="pricearea">
                        <h4>Area : {{data.landarea}} Sq.ft</h4>
                        <h4>Amount : {{data.landprice}} Cr</h4>
                    </div>
                    <div class="ownerdetails">
                        <p>Owner :</p>
                        <p>{{data.ownername}}</p>
                        <p>Ph.No.:{{data.seller.organizationphonenumber}}</p>
                    </div>
                    <div class="buttondiv">
                        <button type="button" class="button edit" (click)="onClick(data.id)">Edit</button>
                        <button type="button" class="button delete" (click)="DeleteApi(data.id)">Delete</button>
                    </div>
                </div>
            </div>


            

        </div>
    </div>
</div>