<div class="incomingOrder">
    <div class="searchdiv order-search">
        <input type="search" placeholder="Search">
        <img src="assets/Images/searchlogo.png" alt="">
    </div>

    <div class="orders">
        <div class="order-details">
            <div class="items">
                <h2>Number of Items : 5</h2>
                <a href="" class="more-details">More Details</a>
            </div>
            <div class="customer-details">
                <h2>Customer Name : S. Nagarjuna</h2>
                <h2>Contact No : 123456789</h2>
                <address>Shipping Address : 72.12 Bharathiyar main road S.S colony, Madurai - 16, Tamilnadu , India
                </address>
                <div class="items-details">
                    <h3>Item Id : 1234</h3>
                    <h3>Item Name : Tomoto</h3>
                </div>
            </div>
        </div>

        <div class="order-details">
            <div class="items">
                <h2>Number of Items : 5</h2>
                <a href="" class="more-details">More Details</a>
            </div>
            <div class="customer-details">
                <h2>Customer Name : S. Nagarjuna</h2>
                <h2>Contact No : 123456789</h2>
                <address>Shipping Address : 72.12 Bharathiyar main road S.S colony, Madurai - 16, Tamilnadu , India
                </address>
                <div class="items-details">
                    <h3>Item Id : 1234</h3>
                    <h3>Item Name : Tomoto</h3>
                </div>
            </div>
        </div>

        <div class="order-details">
            <div class="items">
                <h2>Number of Items : 5</h2>
                <a href="" class="more-details">More Details</a>
            </div>
            <div class="customer-details">
                <h2>Customer Name : S. Nagarjuna</h2>
                <h2>Contact No : 123456789</h2>
                <address>Shipping Address : 72.12 Bharathiyar main road S.S colony, Madurai - 16, Tamilnadu , India
                </address>
                <div class="items-details">
                    <h3>Item Id : 1234</h3>
                    <h3>Item Name : Tomoto</h3>
                </div>
            </div>
        </div>

        <div class="order-details">
            <div class="items">
                <h2>Number of Items : 5</h2>
                <a href="" class="more-details">More Details</a>
            </div>
            <div class="customer-details">
                <h2>Customer Name : S. Nagarjuna</h2>
                <h2>Contact No : 123456789</h2>
                <address>Shipping Address : 72.12 Bharathiyar main road S.S colony, Madurai - 16, Tamilnadu , India
                </address>
                <div class="items-details">
                    <h3>Item Id : 1234</h3>
                    <h3>Item Name : Tomoto</h3>
                </div>
            </div>
        </div>
    </div>

</div>