<div class="incomingOrder">
    <div class="searchdiv order-search">
        <input type="search" placeholder="Search">
        <img src="assets/Images/searchlogo.png" alt="" >
    </div>

    <div class="orders">
        <div class="order-details" *ngFor="let data of OrderSeller">
            <div class="items">
                <h2>Number of Items : {{data.quantity}}</h2>
                <a href="" class="more-details" >More Details</a>
            </div>
            <div class="customer-details">
                <h2>Customer Name : {{data.buyer.buyername}}</h2>
                <h2>Contact No : {{data.buyer.buyerphonenumber}}</h2>
                <address>Shipping Address : {{data.buyer.buyeraddress}}
                </address>
                <div class="items-details">
                    <h3>Item Id : {{data.productids}}</h3>
                    <h3>Item Name : {{data.productNames}}</h3>
                    <h3>Item Quantity : {{data.productQuantities}}</h3>
                    <h3>Item Amount in Rupees: {{data.productAmount}}</h3>

                    <h2>Total Amount : {{data.totalamount}} Rs</h2>
                </div>
            </div>
        </div>
    </div>

</div>