<div class="sellmyproducts">
    <div class="sellmyproductsSection1">
        <img src="assets/Images/sellMyProduct.png" alt="">
        <div class="formdiv">
            <h4>Sell Your Products</h4>
            <form action="" [formGroup]="ProductForm">
                <div class="inputdiv">
                    <label for="Productname">Product Name</label>
                    <input type="text" id="Productname" placeholder="Enter Name" formControlName="ProductName">
                </div>
                <div class="inputdiv">
                    <label for="Totalstock">Total Stock</label>
                    <input type="text" id="Totalstock" placeholder="Enter Stock in KG" formControlName="TotalStock">
                </div>
                <div class="inputdiv">
                    <label for="Harvesteddate">Harvested Date</label>
                    <input type="date" id="Harvesteddate" placeholder="Enter Harvested Date" formControlName="HarvestedDate">
                </div>
                <div class="inputdiv">
                    <label for="Priceperkg">Price Per KG</label>
                    <input type="text" id="Priceperkg" placeholder="Enter Per KG Amount" formControlName="PricePerKg">
                </div>
                <div class="inputdiv fileinput">
                    <label for="file">Upload Product Photo<img src="assets/Images/fileuploadwhite.png" alt=""></label>
                    <input type="file" id="file">
                </div>
                <div class="buttondiv">
                    <button class="button add" type="submit">Add</button>
                    <button class="button clear" type="submit">Clear</button>
                </div>
            </form>
        </div>
    </div>
    <div class="sellmyproductsSection2">
        <h2>Your Products</h2>
        <div class="searchdiv">
            <input type="search" placeholder="Search">
            <img src="assets/Images/searchlogo.png" alt="">
        </div>
        <div class="editmyproduct">

            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 

            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 

            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 

            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 

            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 


            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 


            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 


            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 



            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 


            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 


            <div class="eachProduct editmyproductEach">
                <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
                <div class="productTitle">
                    <h4>Onion</h4>
                    <h4>34 Rs/Kg</h4>
                </div>
                <h5>Total Stock : 100kg</h5>
                <h5>Harvested Date : 12/06/2024</h5>
                <h5>Update Date : 12/06/2024</h5>
                <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
                <div class="commentdiv">
                    <div class="buttondiv">
                        <button type="button" class="button edit">Edit</button>
                        <button type="button" class="button delete">Delete</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>