<div class="Feildtotable">
    <div class="FeildtoTableBackground">
        <div class="searchdiv">
            <select id="select" name="" id="">
                <option value="" disabled selected>Filter</option>
                <option value="">HarvestedDate</option>
            </select>
            <img class="filterimg" src="assets/Images/filterimg.png" alt="">
        </div>
        <div class="searchdiv">
            <input type="search" placeholder="Search">
            <img src="assets/Images/searchlogo.png" alt="">
        </div>
    </div>

    <div class="feildtotablesection2">


        <div class="eachProduct" *ngFor="let data of FeildToTable">
            <img class="productimg" [src]="data.productimage" alt="">
            <div class="productTitle">
                <h4>{{data.productname}}</h4>
                <h4>{{data.amountperKG}} Rs/Kg</h4>
            </div>
            <h5>Total Stock : {{data.totalquantity}}kg</h5>
            <h5>Harvested Date : {{data.harvesteddate}}</h5>
            <h5>Update Date : {{data.updateddate}}</h5>
            <p>From : {{data.seller.organizationname}}, {{data.seller.organizationaddress}}, {{data.seller.organizationphonenumber}}</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 

    </div>
</div>