<div class="Feildtotable">
    <div class="FeildtoTableBackground">
        <div class="searchdiv">
            <select id="select" name="" id="">
                <option value="" disabled selected>Filter</option>
                <option value="">HarvestedDate</option>
            </select>
            <img class="filterimg" src="assets/Images/filterimg.png" alt="">
        </div>
        <div class="searchdiv">
            <input type="search" placeholder="Search">
            <img src="assets/Images/searchlogo.png" alt="">
        </div>
    </div>

    <div class="feildtotablesection2">


        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 

        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 



        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 



        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 

        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div>         <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 

        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 
        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 
        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 
        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 
        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 
        <div class="eachProduct">
            <img class="productimg" src="assets/Images/feildtotablebackground.png" alt="">
            <div class="productTitle">
                <h4>Onion</h4>
                <h4>34 Rs/Kg</h4>
            </div>
            <h5>Total Stock : 100kg</h5>
            <h5>Harvested Date : 12/06/2024</h5>
            <h5>Update Date : 12/06/2024</h5>
            <p>From : From : S.Nagarjuna ,76/14 Bharathiyar main road, S.SColony , Madurai-16</p>
            <div class="commentdiv">
                <a href="">View Comments</a>
                <div class="commentdivinner">
                    <div class="quantitydiv">
                        <h4>Quantity</h4>
                        <select name="" id="">
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                            <option value="">20 Kg</option>
                        </select>
                    </div>
                    <button type="button" class="button cartbutton">Add to Cart</button>
                </div>
            </div>
        </div> 

    </div>
</div>