<div class="TakenOrder">
    <div class="searchdiv order-search">
        <input type="search" placeholder="Search">
        <img src="assets/Images/searchlogo.png" alt="">
    </div>

    <div class="taken-details">
        <table >
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Customer Name</th>
                    <th>Order ID</th>
                    <th>No. of Items</th>
                    <th>Payment Method</th>
                    <th>Payment Date</th>
                    <th>Status</th>
                    <th>View Full Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of OrderDetails">
                    <td>{{data.id}}</td>
                    <td>{{data.buyer.buyername}}</td>
                    <td>{{data.id}}</td>
                    <td>{{data.quantity}}</td>
                    <td>{{data.paymentmethod}}</td>
                    <td>{{data.paymentdate}}</td>
                    <td>
                        <select class="shiped-detail" [value]="data.status" #orderTrackDetail (change)="PutApi(data.id,orderTrackDetail.value)">
                            <option value="Pending">Pending</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                    </td>
                    <td><img src="assets/Images/MoreDetails.png" alt=""></td>
                </tr>

                
            </tbody>
        </table>
    </div>
</div>

